* {
    box-sizing: border-box;
}

header {
    text-align: center;
}

nav ul {
    padding: 0
}

nav li {
    display: inline;
    padding: 20px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
  background-color: lightgray;
}

main p {
    margin: 20px auto;
    width: 360px;
    padding: 20px;
    border: 1px solid black;
}

.menu {
  background-color: lightgray;
}

table {
    text-align: center;
    width: 100%;
}

form {
    margin-left: 35%;
    margin-right: 35%;
}

form p {
  font-weight: bold;
}

footer {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
